/* ! CUSTOM */

:root {
  --footer-height: 120px;
  --sidebar-width: 60px;
  --color-hover: #5bff0e;
}

/* ! RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ! UTILS */

.container {
  padding: 0 20px;
  max-width: 100%;
}

/* # DISPLAY UTILS */

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

/* * MAIN * */
/* ! SIDEBAR */

.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--footer-height));
  flex-direction: column;
  flex-shrink: 0;
  color: #979797;
  background-color: #0f0f0f;
  overflow-y: auto;
  font-weight: 700;
}

/* # LOGO // NAV */

.logo-nav-container {
  flex-grow: 1;
}

/* LOGO */

.logo-img {
  padding: 8px;
}

/* NAV */

.sidebar-nav {
  padding: 10px;
}

.logo-nav-container span {
  padding-left: 10px;
}

.sidebar-nav a:hover {
  color: white;
}

/* # PLAYLIST */

.playlist-section {
  min-height: 150px;
  flex-grow: 1;
  flex-direction: column;
}

.container .title {
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}

/* ADD PLAYLIST */

.add-playlist {
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  cursor: pointer;
}

.plus-btn {
  width: 50px;
  height: 50px;
  background-color: #979797;
  text-align: center;
}

.add-playlist:hover {
  color: white;
}

.add-playlist:hover .plus-btn {
  background-color: white;
}

.plus-btn i {
  color: black;
  position: relative;
  top: 18px;
  font-size: 30px;
}

/* PLAYLIST LIST */

.playlist-list {
  overflow-y: auto;
}

.playlist-section li {
  padding: 10px 0;
}

.playlist-section li:hover {
  color: white;
}

/* # DOWNLOAD // USER */

.download-user-section {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 8px;
}

/* DOWNLOAD APP */

.download-app svg {
  width: 25px;
}

/* USER SECTION */

.user-profile {
  cursor: pointer;
}

.user-profile img {
  width: 30px;
  background-color: #aaaaaa;
  border-radius: 50%;
}

.user-profile .user-name {
  color: white;
}

/* ! MAIN CONTENT */

.main-content {
  background-color: #141922;
  font-weight: 700;
}

/* # UPGRADE PREMIUM */

.premium-upgrade {
  width: calc(100vw - var(--sidebar-width));
  height: 100px;
  background-color: rgba(16, 20, 26, 0.45);
  align-items: center;
  flex-direction: row-reverse;
}

.premium-upgrade button {
  margin-right: 20px;
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: 800;
  cursor: pointer;
}

.premium-upgrade button:hover {
  margin-right: 30px;
  transform: scale(1.1);
}

/* # PAGE CONTENT */

.content {
  height: calc(100vh - var(--footer-height) - 100px);
  overflow-y: scroll;
}

/* CONTENT NAV */

.content-nav {
  color: #979797;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

.content-nav li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.content-nav li:hover {
  border-bottom: 2px solid var(--color-hover);
}

/* TRACK BOX UTILS */

.track-box-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-title {
  color: white;
  font-size: 1.8rem;
  padding: 30px 0;
}

.track-box {
  flex-direction: column;
  align-items: center;
  max-width: 48%;
}

.artist-box img {
  border-radius: 50%;
}

.track-box .track-title {
  text-align: center;
  font-size: 1.1rem;
  padding: 15px 0;
}

.subtitle {
  font-size: 0.9rem;
  color: #979797;
}

/* * FOOTER * */

footer {
  height: var(--footer-height);
  background-color: #282828;
  font-weight: 700;
  color: #979797;
}

/* ! APP PLAYER */

.app-player {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  max-width: 100%;
}

.app-player > div {
  flex-grow: 1;
  width: 33%;
}

/* # TRACK PREVIEW */

.track-preview {
  align-items: center;
  cursor: pointer;
}

/* TRACK COVER */

.preview-img {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}

/* TRACK INFO */

.track-title {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.track-info > span {
  font-size: 0.8rem;
}

/* ICON */

.footer-icon-container {
  flex-direction: column;
  padding-right: 20px;
}

.footer-icon-container > .footer-icon {
  padding: 3px 10px 3px;
}

.footer-icon-container > .footer-icon:hover {
  color: white;
}

/* # PROGRESS BAR // TRACK UTILS */

.progress-track-container {
  flex-direction: column;
  color: white;
}

/* TRACK UTILS */

.track-utils-container {
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.track-utils-icon {
  cursor: pointer;
}

.track-utils-icon.play-button:hover {
  transform: scale(1.2);
}

/* PROGRESS BAR */

.progress-bar-container {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.progress-bar-container > .progress-bar {
  flex-grow: 1;
  min-width: 80px;
  background-color: #979797;
  height: 4px;
  border-radius: 5px;
  margin: 0 10px;
}

.progress-bar > .current-progress {
  width: 30%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

.progress-bar-container:hover > .progress-bar > .current-progress,
.utils-bar:hover > .progress-bar > .current-progress {
  background-color: var(--color-hover);
}

.progress-bar-container:hover > .progress-bar > .current-progress::after,
.utils-bar:hover > .progress-bar > .current-progress::after {
  content: "";
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

/* # UTILS // VOLUME */

.utils-bar {
  justify-content: flex-end;
  align-items: center;
  padding-left: 25px;
  cursor: pointer;
  color: white;
}

.utils-bar > .footer-icon {
  padding-right: 10px;
}

.utils-bar > .progress-bar {
  flex-grow: 1;
  max-width: 100px;
  min-width: 20px;
  background-color: #979797;
  height: 4px;
  border-radius: 5px;
}

/* ! @MEDIA */

/* # 734 # */

@media screen and (min-width: 734px) {
  /* ! CUSTOM */

  :root {
    --sidebar-width: 250px;
  }

  /* ! UTILS */
  /* # DISPLAY UTILS */

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-flex {
    display: flex;
  }

  /* ! SIDEBAR */
  /* # LOGO // NAV */

  .logo-nav-container {
    flex-grow: 0;
  }

  /* LOGO */

  .logo-img {
    padding: 15px 20px 0;
    width: 80%;
  }

  /* NAV */

  .sidebar-nav {
    padding: 20px 0;
  }

  .sidebar-nav a {
    align-items: center;
    border-left: 4px solid transparent;
    padding-left: 16px;
    margin: 8px 0;
  }

  .sidebar-nav svg {
    width: 16%;
  }

  .sidebar-nav a:hover {
    border-left: 4px solid var(--color-hover);
    color: white;
  }

  /* # DOWNLOAD // USER */

  .download-user-section {
    align-items: flex-start;
    gap: 0;
    padding: 0 20px 8px;
  }

  /* DOWNLOAD APP */

  .download-app {
    border-bottom: 2px solid #aaaaaa;
    width: 100%;
  }

  .download-app:hover {
    color: white;
  }

  .download-app a,
  .user-profile {
    align-items: center;
    gap: 10px;
    padding: 15px 0 8px;
  }

  /* ! APP PLAYER */
  /* # TRACK PREVIEW */

  /* TRACK COVER */

  .preview-img {
    height: 60px;
    width: 60px;
  }

  /* TRACK INFO */

  .track-title {
    font-size: 1rem;
  }
}

/* # 930 # */

@media screen and (min-width: 930px) {
  /* ! UTILS */
  /* # DISPLAY UTILS */

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-flex {
    display: flex;
  }

  /* !MAIN CONTENT */
  /* # PAGE CONTENT */

  /* TRACK BOX UTILS */

  .track-box-container {
    justify-content: flex-start;
    gap: calc(15px + 1vw);
  }

  .track-box {
    max-width: 22%;
    /* margin-right: 15px; */
  }

  /* ! APP PLAYER */
  /* # TRACK PREVIEW */

  /* ICON */

  .footer-icon-container {
    flex-direction: row;
    padding-left: 20px;
  }

  /* # UTILS // VOLUME */

  /* VOLUME BAR */

  .utils-bar > .progress-bar {
    max-width: 130px;
  }
}

/* # 1280 # */

@media screen and (min-width: 1280px) {
  /* ! UTILS */
  /* # DISPLAY UTILS */

  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-flex {
    display: flex;
  }

  /* !MAIN CONTENT */
  /* # PAGE CONTENT */

  /* TRACK BOX UTILS */

  .track-box-container {
    flex-wrap: nowrap;
  }

  .track-box {
    max-width: 15%;
  }

  /* ! APP PLAYER */
  /* # UTILS // VOLUME */

  /* UTILS ICON */

  .utils-bar > .footer-icon {
    padding-right: 20px;
  }

  /* VOLUME BAR */

  .utils-bar > .progress-bar {
    max-width: 160px;
  }
}
