/* ! CUSTOM */

:root {
  --footer-height: 150px;
  --sidebar-width: 60px;
}

/* ! RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* ! UTILS */

.container {
  margin: 0 auto;
  max-width: 100%;
}

/* # DISPLAY UTILS */

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

/* ! MAIN */

/* # SIDEBAR */

.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--footer-height));
  flex-direction: column;
  flex-shrink: 0;

  /* debug */
  background-color: lightblue;
  border: 1px dashed black;
}

/* logo */
.logo-img {
  padding: 8px;
}

/* nav */
.sidebar-nav {
  padding: 10px;
}

/* # MAIN CONTENT */

.content {
  height: calc(100vh - var(--footer-height) - 100px);
  overflow-y: scroll;

  /* debug */
  background-color: wheat;
  border: 1px dashed black;
}

.premium-upgrade {
  width: calc(100vw - var(--sidebar-width));
  height: 100px;

  /* debug */
  background-color: lightgoldenrodyellow;
  border: 1px dashed black;
}

/* ! FOOTER */

footer {
  height: var(--footer-height);

  /* debug */
  background-color: gray;
  border: 1px dashed black;
}

/* ! @MEDIA */

/* # 576 PX */

@media screen and (min-width: 576px) {
  /* CUSTOM */
  :root {
    --sidebar-width: 250px;
  }

  /* DISPLAY UTILS */
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-flex {
    display: flex;
  }

  /* # SIDEBAR */

  /* nav */
  .sidebar-nav {
    padding: 20px 0;
  }

  .sidebar-nav a {
    border-left: 4px solid green;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .sidebar-nav img {
    width: 20%;
  }
}

/* # 768 PX */

@media screen and (min-width: 768px) {
  /* DISPLAY UTILS */
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-flex {
    display: flex;
  }
}

/* # 992 PX */

@media screen and (min-width: 992px) {
  /* DISPLAY UTILS */
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-flex {
    display: flex;
  }
}
